page-rewards {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      .ios, .md {
 
        page-home {
     
            button {
                align-items: baseline;
            }
     
        }
     
    }
}
